html,body{
    min-width: fit-content;
    max-width: fit-content;
}

body{
    font-family: 'Shizuru', cursive;
    margin: 0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB
}

ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}

h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.header{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-1{
    background-color: #1F2937;
    padding: 30px;
}

button{
    color:#E5E7EB;
    background-color:#3882F6;
    border: 0;
    border-radius: 4px;
    font-family: 'Shizuru', cursive;
}

.content{
    display: flex;
    align-items: center;
}

.wording{
    margin-right: 20px;
}

.placeholder{
    display: flex;
    align-items: center;
}

h2{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.frames{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.frame{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

img{
    width: 100px;
    height: 100px;
    background-color: #F9FAF8;
    border: 2px solid aqua;
    border-radius: 5px;
}

.caption{
    display:block;
    font-size: 20px;
}

.quote-section{
    background-color: #E5E7EB;
    margin-top:60px;
    padding: 60px;
    text-align: justify;
}

.quote{
    font-size: 25px;
    font-style: italic;
    color: #1F2937;
}

.undertext{
    display: flex;
    justify-content: flex-end;
}

.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding-top: 20px;
}

.box{
    height: 150px;
    width:600px;
    background-color:#3882F6;
    color:#F9FAF8;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#button-2{
    margin-left: 30px;
}

.footer{
    background-color: #1F2937;
    padding: 30px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
}